/*
Report Css
*/


/*
RESET CSS
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, p{
    word-break: keep-all;
    line-height: 140%;
    font-family: 'Pretendard';
}

div{
    font-family: 'Pretendard';
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 100%;

    font-family: 'Pretendard';
    overflow-x:hidden ;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    text-decoration: none;
}

a,div{
    box-sizing: border-box;
}

button,a{
    cursor: pointer;
}

input {-webkit-appearance: none; -webkit-border-radius: 0; border-radius: 0;}


textarea{
    font-family: 'Pretendard';
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    -webkit-transition: background-color .2s linear,width .2s ease-in-out;
    transition: background-color .2s linear,width .2s ease-in-out;
}
::-webkit-scrollbar-thumb {
    background-color: #69789759;
    background-clip: padding-box;
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background-color: rgba(226, 226, 226, 0.04);
}

.cb::after{
    content: "";
    display: block;
    clear: both;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

/*******
report part
**********/

body{
    height: calc(100vh);
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
}

html{
    overflow: hidden;
}

#report1 .wrap{
    width: 1024px;
    margin: 0 auto;
    background-color: #fff;
}

#report1 .rp_header{
    position: relative;
    width: 240px;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background: #1F2C88;
}

#report1 .rp_header > .inner{
    position: fixed;
    top:0;
    background-color: #1F2C88;
    width: 240px;
    height: calc(100vh - 80px);
    overflow: overlay;
    z-index: 10;
}

#report1 .rp_header > .inner.pd24{
    padding-top:0 ;
    padding-bottom:0 ;
}

#report1 .rp_header > .inner::-webkit-scrollbar-thumb{
    background-color: #242b3b75;
    background-clip: padding-box;
}

#report1 .rp_header > .inner::-webkit-scrollbar-track{
    background-color: rgba(226, 226, 226, 0.068);
}

#report1 .logo_box > a{
    display: block;
    height: 18px;
    width: 130px;
    margin-left: 16px;
    background: url(../images/logo/logo_white.svg) no-repeat 0% 50%/contain;
}

#report1 .logo_box .logo_p{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-top: 4px;
}

#report1 .rp_gnb{
    margin-top: 98px;
    margin-bottom: 90px;
}

#report1 .rp_gnb > li > a{
    display: block;
    padding: 15px 16px;
    border-radius: 6px;
}

#report1 .rp_gnb > li.on > a{
    background-color: #16123687;
}

#report1 .rp_gnb > li > a::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 12px;
    background: url(../images/icons/ico_rp1_line.svg) 50% 50%/cover;
    margin-bottom: -5px;
}

#report1 .rp_gnb > li:nth-child(2) > a::before{
    background: url(../images/icons/ico_rp2_line.svg) 50% 50%/cover;
}
#report1 .rp_gnb > li:nth-child(3) > a::before{
    background: url(../images/icons/ico_rp3_line.svg) 50% 50%/cover;
}
#report1 .rp_gnb > li:nth-child(4) > a::before{
    background: url(../images/icons/ico_rp4_line.svg) 50% 50%/cover;
}
#report1 .rp_gnb > li:nth-child(5) > a::before{
    background: url(../images/icons/ico_rp8_line.svg) 50% 50%/cover;
}
#report1 .rp_gnb > li:nth-child(6) > a::before{
    background: url(../images/icons/ico_rp9_line.svg) 50% 50%/cover;
}

#report1 .rp_gnb > li.on > a{
    background-color: #16123687;
}

#report1 .rp_gnb a{
    color:#fff;
    font-size: 14px;
    font-weight: 400;
}

#report1 .rp_body{
    width: calc(100% - 240px);
    background: rgb(244, 246, 250);
}

#report1 .rp_top{
    position: relative;
    width: 100%;
}

#report1 .top_inner{
    position: fixed;
    top:0;
    box-sizing: border-box;
    width: 784px;
    background: rgba(244, 246, 250, 0.96);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter:blur(5px);
    z-index: 9;
    border-bottom: 1px solid rgba(190, 201, 218, 0.2);
}

#report1 .top_inner > .flx{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.check_group.pd24{
    padding-top: 12px;
    padding-bottom: 12px;
}

#report1 .top_inner h2{
    color: #191F28;
    font-size: 20px;
    font-weight: 700;
    margin-right: 12px;
    line-height: 36px;
}

#report1 .top_inner h2 span.h2_loca::before{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background: url(../images/icons/ico_arrow_loca_gr.svg) 50% 50%/cover no-repeat;
    margin-bottom: -1px;
}

#report1 .top_inner h2 span.h2_kind::before{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: 4px;
    margin-right: 4px;
    background:url(../images/icons/ico_building_gr.svg) 50% 50%/16px no-repeat;
}

#report1 section{
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 0 0 24px rgb(213 223 241 / 37%);
}

#report1 section .title_area > h3{
    color:#191F28;
    font-size: 18px;
    font-weight: 700;
    margin-right: 12px;
    line-height: 24px;
}

#report1 section .title_area > h3::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/icons/ico_rp1_full.svg) 50% 50%/cover;
    margin-bottom: -4px;
    margin-right: 8px;
}

#report1 section#s2 .title_area > h3::before{
    background: url(../images/icons/ico_rp2_full.svg) 50% 50%/cover;
}
#report1 section#s3 .title_area > h3::before{
    background: url(../images/icons/ico_rp3_full.svg) 50% 50%/cover;
}
#report1 section#s4 .title_area > h3::before{
    background: url(../images/icons/ico_rp4_full.svg) 50% 50%/cover;
}
#report1 section#s5 .title_area > h3::before{
    background: url(../images/icons/ico_rp5_full.svg) 50% 50%/cover;
}
#report1 section#s6 .title_area > h3::before{
    background: url(../images/icons/ico_rp6_full.svg) 50% 50%/cover;
}
#report1 section#s7 .title_area > h3::before{
    background: url(../images/icons/ico_rp7_full.svg) 50% 50%/cover;
}
#report1 section#s8 .title_area > h3::before{
    background: url(../images/icons/ico_rp8_full.svg) 50% 50%/cover;
}
#report1 section#s9 .title_area > h3::before{
    background: url(../images/icons/ico_rp9_full.svg) 50% 50%/cover;
}
#report1 section#s10 .title_area > h3::before{
    background: url(../images/icons/ico_rp10_full.svg) 50% 50%/cover;
}
#report1 section#s11 .title_area > h3::before{
    background: url(../images/icons/ico_rp11_full.svg) 50% 50%/cover;
}

#report1 section .title_area > p{
    color:#4E5867;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
#report1 section .title_area{
    margin-bottom: 24px;
}

#report1 section .title_area.flx{
    align-items: flex-end;
    
}

#report1 .pd24{
    padding: 24px;
}
#report1 .pd36{
    padding: 36px;
}

#report1 .pd16{
    padding: 16px;
}

#report1 .flx{
    display: flex;
    align-items: center;
}


#report1 #s1 .inner.flx{
 justify-content: space-between;   
}

#report1 .inner.flx > .echart_box{
    width: 360px;
    margin-right: 36px;
}

#report1 .sc_box{
    margin-top: 77px;
    height: calc(100vh - 77px - 80px);
    height: calc(var(--vh, 1vh) * 100 - 77px - 80px);
    overflow-y: overlay;
}

#report1 .label_box{
    width: fit-content;
    border-radius: 5px;
    border: 1px solid rgba(190, 201, 218, 0.2);
}

#report1 .label_box > .label_title{
    font-size: 14px;
    font-weight: 600;
    color: #191F28;
    margin-bottom: 12px;
    word-break: keep-all;
}

#report1 .label_box > ul > li{
    margin-bottom: 4px;
}

#report1 .label_box > ul > li p{
    font-size: 14px;
    color:#4E5867;
}

#report1 .label_box > ul > li .label_p{
    justify-content: space-between;
    width: 140px;
}

#report1 .label_box > ul > li p span.number{
    color:#191F28;
    font-weight: 600;
}

#report1 .label_box > ul > li:last-child{
    margin-bottom: 0;
}

#report1 .rp_chart7_box .label_box{
    border: none;
}

#report1 .rp_chart7_box .label_box .label_title{
    text-align: center;
}
#report1 .rp_chart7_box .label_box > ul > li{
    justify-content: center;
}

#report1 .col{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 12px;
}
#report1 .col1{
    background-color: #00A3FF;
}

#report1 .col2{
    background-color: #1154db;
}
#report1 .col3{
    background-color: #012F8D;
}
#report1 .col4{
    background-color: #030C5E;
}
#report1 .col5{
    background-color: #00afa6;
}
#report1 .col6{
    background-color: #00c3d7;
}
#report1 .col7{
    background-color: #4dd5ff;
}
#report1 .col8{
    background-color: #C1DDE9;
}
#report1 .col9{
    background-color: #9BC1C7;
}

#report1 .top_inner > .flx{
justify-content: space-between;
}

#report1 .right_btn{
    border: 0;
}

#report1 .surb{
    width: 28px;
    height: 28px;
    font-size: 0;
   background: url(../images/icons/ico_bell_gr.svg) center center/cover no-repeat;
   margin-right: 4px;
}

#report1 .login{
    width: 28px;
    height: 28px;
    font-size: 0;
    background: url(../images/icons/ico_person_gr.svg) center center/cover no-repeat;
    margin-right: 4px;
}

#report1 .close{
    opacity: 1;
    width: 28px;
    height: 28px;
    font-size: 0;
    background: url(../images/icons/ico_x_gr.svg) center center/cover no-repeat; 
}

#report1 .rpt_txt{
    padding: 16px 24px;
    background: #FAFBFF;
    border-left: 2px solid #1f65fd48 ;
}

#report1 .rpt_txt > p{
    font-size: 14px;
    color:#323d4e;
    line-height: 160%;
}

#report1 span.blue{
    color:#1F67FD;
}

#report1 span.down{
    color:#1F67FD;
}
#report1 span.up{
    color:#E72508;
}

#report1 .refer_box > p{
    font-size: 12px;
    color:#4E5867;
    text-align: center;
    font-weight: 300;
    width: 240px;
    margin-top: 20px;
}

#report1 #s7 .rpt_txt{
    margin-bottom: 20px;
}

#report1 .choice1 ul li button{
    background-color: #fff;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid rgba(190, 201, 218, 0.6);
    color:#4E5867;
    word-break: keep-all;
}

#report1 .choice1 ul li.on button{
    color:#1F67FD;
    border: 1px solid #1f65fd4d;
}

#report1 .choice1 ul li:nth-child(1){
    margin-right: 4px;
}

#report1 #receipt1{
    width: calc(100% - 360px);
}

#report1 #receipt2{
    width: calc(100% - 360px);
}

#report1 .receipt {
    margin-top: 12px;
    margin-bottom: 48px;
    width: 100%;
    background-color: white;
    padding: 24px 36px;
    box-sizing: border-box;
    border: 1px solid rgba(190, 201, 218, 0.4);
    border-radius: 8px;
}

#report1 .r_title_tag {
    margin-bottom: 4px;
}

#report1 .r_title_box{
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(190, 201, 218, 0.8);
    margin-bottom: 12px;
}

#report1 .r_title_tag p{
    text-align: center;
    color: #4B4B4B;
    font-size: 14px;
    font-weight: 400;
}

#report1 .r_title_text p{
    text-align: center;
    color: #4B4B4B;
    font-size: 28px;
    font-weight: 300;
}

#report1 .r_title_text p b{
    color: #191F28;
    font-weight: 700;
}


#report1 .r_title_index {
    color: #4E5867;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    color:#1154db;
}

#report1 .r_title_index p span{
    font-weight: 600;
}

#report1 .r_con_box ul li{
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
}

#report1 .r_con_box ul li p{
    font-size: 14px;
    color: #4E5867;    
}

#report1 .re_detail{
    width: 100%;
}

#report1 .re_detail > li > p span{
    color:#6B7790;
    font-size: 12px;
}

#report1 .re_index span{
    margin-left:6px;
}

#report1 .r_con_box ul li p.re_index{
    color:#191F28;
    font-weight: 600;
}
#report1 .r_con_box ul li p.re_number b{
    color:#191F28;
    font-weight: 600;
}
#report1 .r_con_box > ul > li:last-child{
    padding-top: 12px;
    border-top: 1px solid rgba(190, 201, 218, 0.8);
}

#report1 .r_con_box > ul > li:last-child > p.last_num{
    font-size: 18px;
}

#report1 .re_detail > li > p >span{
    margin-left:6px;
}

#report1 .col_rcp1{
    background:#1154db;
}

#report1 .col_rcp2{
    background:#98e3e8;
}

#report1 #s7 .echart_box.flx{
    justify-content: space-around;
}

#report1 #s7 .label_box{
    width: 240px;
    margin-top: 24px;
}

#report1 #s1 .label_box{
    margin-top: 24px;
}

#report1 .choice1{
    margin-top: 20px;
}

#report1 #s11 .choice1{
    margin-bottom: 20px;
}

.check_group{
    display: flex;
}

.top_inner .check_group{
    margin-right: 12px;
}

.check_group .check{
    display: flex;
}

/*input 은 숨겨주기*/
input[type="checkbox"]{
  display:none;
  }
/*input 바로 다음의 label*/
input + label{
  cursor:pointer;
 }

/*input 바로 다음의 label:before 에 체크하기 전 CSS 설정*/
input[type="checkbox"] + label:before{
  content:"";
  display:inline-block;
  width:12px;
  height:12px;
  margin-right: 8px;
  border:1px solid #cbcbcb;
  border-radius: 3px;
  vertical-align:middle;/*체크 전과 체크 후 높이 차이 때문에 설정*/
  }
  
/*checked된 input 바로 다음의 label:before 에 체크 후 CSS 설정*/  
input[type="checkbox"]:checked + label:before{
  content:"";
  font-weight:900;
  color:#fff;
  background:#1F67FD url(../images/icons/ico_check_wh.svg) 50% 50%/cover;
  border:1px solid #1F67FD;
  }
  
.check{
    font-size: 14px;
    color:#4E5867;
    margin-right: 8px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid rgba(190, 201, 218, 0.4);
}


#report1 .card_header{
    padding:24px;
}

#report1 .card_s_txt{
    font-size: 14px;
    color:#4E5867;
    margin-bottom: 2px;
}

#report1 .card_m_txt{
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #191F28;
    text-align: left;
    float: left;
    width: 100%;
    word-break: keep-all;
}

#report1 .card_number{
    display: block;
    text-align: left;
}

#report1 .card_number span.up{
    font-size: 14px;
}

#report1 .card_number span.up::before{
    margin-top: 6px;
}

span.up::before{
    display: none;
    background: none;
}

#report1 .card_box .card_header_tt{
    position: relative;
    padding-left: 64px;
}

#report1 .card_box .card_header_tt::before{
    float: left;
    display:block;
    content: "";
    width: 48px;
    height: 48px;
    margin-right: 2px;
    border-radius: 8px;
    margin-right: 16px;
    position: absolute;
    left: 0;
}

#report1 .card_box .card1 .card_header_tt::before{
    background: #F4F7F9 url(../images/icons/ico_rp11_full.svg) no-repeat 50% 50%/28px;
}

#report1 .card_box .card2 .card_header_tt::before{
    background: #F4F7F9 url(../images/icons/ico_rp12_full.svg) no-repeat 50% 50%/28px;
}

#report1 .slider2 .card_s_txt{
    margin-bottom: 4px;
}

#report1 .slider2 .card_m_txt{
    margin-bottom: 4px;
    font-size: 18px;
}


#report1 .card_body{
    padding: 24px;
    padding-top: 0;
}

#report1 .card_body > ul > li >p{
    font-size: 14px;
    font-weight: 500;
    color: #404040;
}

#report1 .card_body > ul > li{
    margin-bottom: 12px;
}

#report1 .card_body > ul > li >p:nth-child(1){
    float: left;
    margin-right: 12px;
    font-size: 14px;
    line-height: 20px;
    padding: 0px 4px;
}

#report1 .card_body > ul > li >p:nth-child(2){
    float: left;
    line-height: 20px;
}

#report1 .card_body > ul > li >p:nth-child(3){
    float: right;
    line-height: 20px;
}

#report1 .card_box{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: none;
    box-shadow: none;
}

#report1 .card_box > div{
    border-radius: 8px;
    border: 1px solid #EEEEEE;
    background-color: #fff;
    width: 100%;
}

#report1 .tbl-biz caption{
    display: none;
}

#report1 .tbl-biz{
    width: 100%;
}

#report1 .tbl-biz td{
    padding: 12px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #4E5867;
}

#report1 .tbl-biz tr{
    border-bottom: 1px solid rgba(190, 201, 218, 0.2);
}

#report1 .tbl-biz tbody tr:last-child{
    border: 0;
}

#report1 .tbl-biz tr td:nth-child(2),.tbl-biz tr td:nth-child(3){
    font-weight: 600;
    color: #191F28;
}

#report1 .tbl-biz th{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #191F28;
    padding: 12px 0;
}

#report1 .tbl-biz thead tr{
    border-bottom: 1px solid rgba(190, 201, 218, 0.6);
}

#report1 #banner_sc{
    box-shadow: none;
    position: relative;
    overflow: hidden;
}

#report1 .banner_main{
    color:#fff;
    font-size:18px;
    font-weight: 700;
    margin-bottom: 4px;
}

#report1 .banner_sub{
    color:#fff;
    font-size:16px;
    font-weight: 400;
    margin-bottom: 12px;
}

#report1 #banner_sc button{
    background-color: #16123687;
    border:none;
    padding: 6px 20px;
    color:#fff;
    border-radius: 4px;
}

#report1 #banner_sc{
    background:#366ddf url(../images/banner/obj1.png) no-repeat 100% 45%/34%;
}

#report1 .onlymb{
    display: none;
}

.rp_sheet_hd.wh{
    width: 100%;
    background-color:#366ddf;
}

.rp_sheet_hd {
    position: fixed;
    border-bottom: 1px solid rgba(221, 221, 221, 0.1);
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    z-index: 9;
    background-color: #fff;
}

.rp_sheet_hd.wh .name_box{
    color:#fff;
    font-weight: 600;
    font-size: 14px;
}

.rp_sheet_hd .name_box{
    color:#404040;
    font-weight: 600;
    font-size: 14px;
}

.rp_sheet_hd .ico_box a {
    background: url(../images/icons/ico_arrow_gr.svg) 50% 50%/cover no-repeat;
}

.rp_sheet_hd #menuToggle a{
    background: url(../images/icons/ico_list_gr.svg) 50% 50%/cover no-repeat;
}

.rp_sheet_hd.wh .ico_box a {
    background: url(../images/icons/ico_arrow_wh.svg) 50% 50%/cover no-repeat;
}

.rp_sheet_hd.wh #menuToggle a{
    background: url(../images/icons/ico_list_wh.svg) 50% 50%/cover no-repeat;
}

.rp_sheet_hd.wh{
    border-bottom: 0;
    border-bottom: 1px solid #030c5e10;
}

.ico_box, .close_box {
    width: 24px;
    height: 24px;
}

.ico_box a {
    display: block;
    width: 100%;
    height: 100%;
    /*background: url(../images/icons/ico_arrow_wh.svg) 50% 50%/cover no-repeat;*/
}

.close_box a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/icons/ico_list_wh.svg) 50% 50%/cover no-repeat;
}

#report1{
    position: absolute;
    width: 1024px;
    left: 50%;
    transform: translateX(-50%);
    height: calc(100vh - 80px);
    height: calc(var(--vh, 1vh) * 100 - 80px);
    top:40px;
    z-index: 10;
    overflow: hidden;
    border-radius: 14px;
}

#report1 .report_div{
    position: absolute;
    width: 1024px;
    left: 50%;
    transform: translateX(-50%);
    height: calc(100vh - 80px);
    height: calc(var(--vh, 1vh) * 100 - 80px);
    top:40px;
    overflow: hidden;
}

#report1 .rpt_hd{
    padding: 32px 16px;
    /* background-color: #1549b5; */
    background-color: #366ddf;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#report1 .rpt_hd .sumsum{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#report1 .rpt_hd .sumsum >li{
    width: 33.3%;
    padding: 12px;
    margin-right: 8px;
    background-color: rgb(80 128 227);
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgb(34 87 193 / 37%);
}

#report1 .rpt_hd .sumsum >li:last-child{
    margin-right: 0;
}

#report1 .rpt_hd .sumsum >li >p{
    color:#fff ;
}

#report1 .rpt_hd .sumsum >li >p:nth-child(1){
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 8px;
}

#report1 .rpt_hd .sumsum >li >p:nth-child(2){
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 0;
}

#report1 .rpt_hd .sumsum >li >p:nth-child(2)::before{
    content: "";
    display: inline-block;
    background-color: #fff;
    width: 14px;
    height: 14px;
    margin-bottom: -2px;
    border-radius: 100%;
    margin-right: 4px;
}

#report1 .rpt_hd .sumsum >li:nth-child(1) >p:nth-child(2)::before{
    background: url(../images/icons/ico_hd_1.svg) 50% 50%/cover;
}

#report1 .rpt_hd .sumsum >li:nth-child(2) >p:nth-child(2)::before{
    background: url(../images/icons/ico_hd_3.svg) 50% 50%/cover;
}

#report1 .rpt_hd .sumsum >li:nth-child(3) >p:nth-child(2)::before{
    background: url(../images/icons/ico_hd_2.svg) 50% 50%/cover;
}

#report1 .rpt_hd .sumsum >li >p:nth-child(2) > span{
    font-size: 16px;
    font-weight: 600;
}

#report1 .rpt_hd .logo_box{
    display: flex;
}

#report1 .rpt_hd p,#report1 .rpt_hd h2{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
}

#report1 .onlymb.rpt_hd h2{
    font-size: 22px;
    font-weight: 600;
    color:#fff;
    margin-bottom: 16px;
    word-break: keep-all;
}

#report1 .hd_title_txt{
    margin-top: 20px;
    margin-bottom: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#report1 .hd_title_txt > p,
#report1 .hd_title_txt > h2{
    text-align: center;
}

#report1 button.rpt_surb{
    border: none;
    color: #fff;
    border-radius: 999px;
    padding: 6px 18px 6px 12px;
    line-height: 20px;
    font-size: 12px;
    width: fit-content;
    background: #103eafbd;
    box-shadow: 0px 0px 12px rgb(34 87 193 / 60%);
}

#report1 button.rpt_surb::before{
    content: "";
    display: inline-block;
    width: 36px;
    height: 36px;
    background: url(../images/icons/ico_building.svg) 50% 50%/cover no-repeat;
    margin-bottom: -6px;
    margin-right: 2px;
}

#report1 .rp_header{
    position: relative;
}

#report1 .rp_header .last_btn_bx{
    padding: 24px;
    width: 240px;
    position: fixed;
    bottom: 0;
    left: 0;
}

#report1 .rp_header button.rpt_surb{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px 8px 8px;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    width: 192px;
    border: 1px solid rgba(221, 221, 221, 0.432);
    background: none;
    box-shadow: none;
}

#report1 .rp_header .logo_box{
    padding: 32px 24px;
    width: 240px;
    position: fixed;
    left: 0;
    top:0;
}

.mb_rp_gnb_box{
    width: 100%;
    overflow-x:scroll;
    overflow-y:hidden;
    margin-bottom: 10px;
    background-color: #fff;
    border-bottom:1px solid #c5cbdd;
}

.mb_rp_gnb{
    width: max-content;
    flex-wrap: nowrap;
}

.mb_rp_gnb > li{
    margin-right: 4px;
    padding: 16px 8px;
}

.mb_rp_gnb > li > a{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.mb_rp_gnb > li:first-child{
    margin-left: 16px;
}

.mb_rp_gnb > li:last-child{
    padding-right: 72px;
}

.mb_rp_gnb_box{
    position: relative;
}

#report1 div.filter{
    position: absolute;
    right: 0;
    border-radius: 5px;
    margin: 0;
    height: 48px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    background: none;
    border: none;
    width: fit-content;
    background: #fff;
}

#report1 div.filter.fix{
    position: fixed;
    top:48px;
    height: 48px;
    z-index: 9;
}

#report1 div.filter > a{
    display: inline-block;
    width: 36px;
    height: 36px;
    border: 1px solid #eee;
    border-radius:100%;
    font-size: 0px;
    margin-right: 10px;
    margin-left: 10px;
    background: #fff url(../images/icons/ico_filter_gr.svg) no-repeat 50% 50%/20px;
}

.mb_rp_gnb > li > a{
    font-size: 15px;
    font-weight: 500;
    color:#4E5867;
}

.mb_rp_gnb > li.on > a{
    color:#1F67FD;
}

.mb_rp_gnb > li.on{
    border-bottom:2px solid #1F67FD;
}

.mb_rp_gnb > li:last-child{
    margin-right: 0;
}

.mb_rp_gnb_box::-webkit-scrollbar{
    display: none;
}

.mb_rp_gnb_box{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.mb_rp_gnb_box.fix{
    position: fixed;
    top:48px;
    z-index: 9;
}

#report1 .banner_txt{
    width: 70%;
}

.bg_report{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    
}

#report1 .sheet_ft{
    width: 100%;
    justify-content: center;
}

#report1 .table_btn{
    display: flex;
    justify-content: flex-end;
}

#report1 #s1 .table_btn{
    margin-top: 24px;
}

#report1 .table_btn button{
    background-color: #fff;
    padding: 4px 0px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    /* border-bottom: 1px solid rgba(190, 201, 218, 0.6); */
    color: #4E5867;
}

#report1 .table_btn button::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../images/icons/ico_plus_full_gr.svg) 50% 50%/cover;
    margin-bottom: -2px;
    margin-right: 4px;
}

.hd_title_txt::before{
    content: "";
    width: 72px;
    height: 72px;
    display: inline-block;
    background:#fff url(../images/icons/ico_list1_on_col.svg) no-repeat 50% 50%/70%;
    border-radius: 100%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 12px rgb(34 87 193 / 60%);
    border: 2px solid rgb(139 171 237);
}

.table_show{
    margin-top: 12px;
    width: 100%;
    transition: 0.4s ease-in;
}

.table_show caption{
    display: none;
}

.table_show tr,.table_show td{
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#report1 .table_show thead tr{
    border-bottom: 1px solid rgba(190, 201, 218, 0.8);
    border-top: 1px solid rgba(190, 201, 218, 0.2);
    background: #f9fafc8c;
    
}

#report1 .table_show th {
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    color: #191F28;
    padding: 12px 4px;
}

#report1 .table_show td {
    padding: 12px 4px;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    color: #4E5867;
}

#report1 .table_show tr {
    border-bottom: 1px solid rgba(190, 201, 218, 0.2);
}

#report1 .table_show{
    display: none;
}

#report1 .table_show.show{
    display: table;
}

#report1 div.filter{
    display: none;
}

.tbmb{
    margin-bottom: 12px;
}

.pop_bottom .check_group{
    flex-direction: column;
}

.pop_bottom .filter_div .chk ul li{
    padding: 16px;
    margin-right: 0;
}

.pop_bottom input[type="checkbox"] + label:before{
    margin-right: 12px;
}

.pop_bottom .btn2, .pop_bottom .btn1{
    width: calc(50% - 4px);
}

.mb_bt{
    display: none;
}

/*************
alrt_pop
*************/

.alrt_pop{
    position: fixed;
    z-index: 9999999;
    background-color: #fff;
    width: 360px;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 32px rgb(0 0 0 / 16%);
    border-radius: 14px;
}

.alrt_pop h4{
    font-size: 20px;
    font-weight: 700;
    line-height: 160%;
    color: #191F28;
    text-align: left;
}
.alrt_pop p{
    font-size: 16px;
    line-height: 160%;
    font-weight: 400;
    color: #323d4e;
    text-align: left;
}

.alrt_pop p span{
    font-size: 14px;
    line-height: 160%;
    font-weight: 400;
    color: #323d4e;
    text-align: left;
}

.alrt_pop .alrt_hd{
    padding: 12px 24px;
    padding-top: 24px;
    border-bottom: 1px solid rgb(243 243 243);
    display: flex;
    justify-content: space-between;
}

.alrt_pop .alrt_bdy{
    padding: 16px 24px;
}

.alrt_pop .alrt_ft{
    padding: 12px 24px;
    padding-top: 0px;
    padding-bottom: 24px;
}
.alrt_pop .button_box button{
    width: calc(50% - 4px);
    height: 48px;
    font-size: 16px;
}

.alrt_pop #close_alert{
    position: relative;
    width: 24px;
    height: 24px;
}

.alrt_pop #close_alert a {
    display: block;
    position: absolute;
    right: -8px;
    top:-8px;
    width: 24px;
    height: 24px;
    background: url(../images/icons/ico_x_gr.svg) 50% 50%/cover no-repeat;
}

.outcome_gr{
    justify-content: space-between;
}

#report1 .flx.outcome_box{
    width: 24%;
    border: 1px solid rgba(190, 201, 218, 0.4);
    border-radius: 8px;
    flex-direction: column;
    padding:16px 12px;
    justify-content: flex-start;
    
}

.outcome_wrap{
    margin-top: 32px;
    position: relative;
}

.otc_p{
    color: #4E5867;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 4px;
}

.otc_num{
    color: #191F28;
    font-size: 16px;
    font-weight: 700;
}

.otc_num span.gr{
    color: #4E5867;
    font-size: 12px;
    font-weight: 300;
}

.otc_num::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 6px;
    margin-bottom: -2px;
}

.ouc1 .otc_num::before {
    background: url(../images/icons/ico_hd_3.svg) 50% 50%/cover no-repeat;
}
.ouc2 .otc_num::before {
    background: url(../images/icons/ico_hd_1.svg) 50% 50%/cover no-repeat;
}
.ouc3 .otc_num::before {
    background: url(../images/icons/ico_hd_5.svg) 50% 50%/cover no-repeat;
}
.ouc4 .otc_num::before {
    background: url(../images/icons/ico_hd_4.svg) 50% 50%/cover no-repeat;
}

/* KFA */

.btn3{
    display: flex;
    align-items: center;
    color: #0554E5;
    font-weight: 500;
    background: none;
    border:  1px solid #0553e567;
    padding: 8px 12px 8px 8px;
    border-radius: 4px;
}

#report1 .rp_top .btn3{
    margin-right: 20px;
}

#report1 .rp_top .btn3::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    background: url(../images/icons/ico_download_bl.svg) 50% 50%/cover;
}

@media all and (max-width: 1080px){
    #report1{
        width: 960px;
    }
    #report1 .wrap{
        width: 960px;
    }

    #report1 #receipt1{
        width: calc(100% - 300px);  
    }

    #report1 #receipt2{
        width: calc(100% - 300px);
    }
}

/*pc형 분기점 1024*/

@media all and (min-width: 1024px){
    .onlymb{
        display: none;
    }
    .tbl-biz br{
        display: none;
    }
    
    #s1 .echart_box{
        margin-left: 40px;
    }
    #s7 .echart_box{
        margin-left: 40px;
    }

    #report1 #s7 .echart_box.flx{
        justify-content: space-between;
    }
    .hover_navi{
        display: none;
    }
}
@media all and (max-width: 1023px){

    #report1{
        top:48px;
        height: calc(100vh - 48px);
        height: calc(var(--vh, 1vh) * 100 - 48px);
        border-radius: 0;
        left: 0;
        transform: none;
        overflow-y: overlay;
    }

    #report1.fix{
        top:98px;
        height: calc(100vh - 98px);
        height: calc(var(--vh, 1vh) * 100 - 98px);
    }

    #report1.fix > .wrap{
        margin-top: 118px;
    }

    #report1 .sc_box{
        height: inherit;
        overflow-y: auto;
        overflow-y: overlay;
        overflow-x: hidden;
    }

    #report1 section{
        position: relative;
        z-index: 2;
    }

    #report1 .onlypc{
        display: none;
    }

    #report1 .sc_box{
        margin-top: 0;
    }

    #report1, #report1 .rp_body,#report1 .wrap{
        width: 100%;
    }

    #report1 .pd36 {
        padding: 16px;
    }

    #report1 .rpt_txt > p br{
        display: none;
    }
    #report1 .onlymb{
        display: flex;
        z-index: 2;
    }

    #report1 .sc_box{
        padding: 0;
    }

    #report1 section{
        border-radius: 0;
    }

    #report1 .pd36{
        padding-top: 24px;
        padding-bottom: 24px;
    }

    #report1 .wrap{
        background-color: #f0f3f8;  
    }

    #report1 .rpt_txt{
        border: 0;
        border-radius: 8px;
    }

    #report1 #banner_sc{
        margin-left: 16px;
        margin-right: 16px;
        border-radius: 8px;
        margin-bottom:80px;
    }
    
    .bg_report{
        background:#366ddf;
        background: linear-gradient(180deg, #366ddf 0%, #366ddf 54%, rgba(255,255,255,1) 55%);
    }

    /*상세 css 수정*/

    #report1 .rpt_hd .sumsum >li >p:nth-child(2){
        margin-top: 36px;
        text-align: right;
    }

    #report1 .rpt_hd .sumsum >li >p:nth-child(1){
        font-size: 14px;
    }

    #report1 .rpt_hd .sumsum >li >p:nth-child(2) > span{
        font-size: 22px;
    }

    #report1 .onlymb.rpt_hd h2{
        font-size: 28px;
    }

    #report1 button.rpt_surb{
        font-size: 14px;
    }
    #report1 #receipt1{
        width: calc(100% - 420px);
    }
    #report1 #receipt2{
        width: calc(100% - 420px);
    }
    #rp_chart7{
        width: 280px !important;
        height: 280px !important;
    }
    #rp_chart7_2{
        width: 280px !important;
        height: 280px !important;
    }

    #report1 #s7 .label_box{
        margin: 24px auto;
    }

    #report1 .rpt_hd .sumsum >li{
        padding: 24px;
    }

    #report1 #banner_sc.pd36{
        padding-left: 36px;
        padding-right: 36px;
    }

    .tbl-biz br{
        display: none;
    }

    #report1 .receipt{
        margin-bottom: 12px;
    }
    #report1 .table_btn button{
        margin-top: 12px;
    }
    #report1 #s1 .inner.flx{
        justify-content: space-around;
    }
    #report1 #s7 .inner.flx{
        justify-content: space-around;
    }
    #report1 div.filter{
        display: flex;
    }

    #report1 #banner_sc {
        background: #366ddf url(../images/banner/obj1.png) no-repeat 100% 45%/27%;
    }

    /*팝업*/
    
    /*************
    alrt_pop
    *************/

    .alrt_pop{
        width: 400px;
    }

    .alrt_pop h4{
        font-size: 20px;
        text-align: center;
    }
    .alrt_pop p{
        text-align: center;
    }

    .alrt_pop p span{
        font-size: 14px;
        line-height: 160%;
        font-weight: 400;
        color: #323d4e;
        text-align: center;
    }

    .alrt_pop .alrt_hd{
        justify-content: center;
        align-items: center;
        border-bottom: 0;
        padding: 12px 24px;
        padding-top: 24px;
    }

    .alrt_pop #close_alert{
        display: none;
    }

    .alrt_pop .alrt_bdy{
        padding: 16px 24px;
        padding-top: 0;
    }

    .alrt_pop .alrt_ft{
        padding: 12px 24px;
        padding-bottom: 24px;
    }
    .alrt_pop .button_box button{
        height: 52px;
    }

    #report1 section .title_area > p {
    display:none;
    }

    #report1 .table_show td:nth-child(1){
        font-weight: 500;
        color: #191F28;
        background: #fcfcfd;
   }
    
    /*************
    슬라이드 pc시 버튼 추가 
    @media all and (max-width: 1023px) 내에 추가
    
    START
    *************/
    
    .hover_navi{
        width: calc(100% - 20px);
        height: 36px;
        position: absolute;
        z-index: 1;
        margin-left: 10px;
        margin-right: 10px;
        top: 6px;
        left: 0;
    }
    
    .outcome_here .hover_navi{
        width: 100%;
        left: 0;
        top:50%;
        transform: translateY(-50%);
        margin: 0;
    }

    button.left_navi_btn,
    button.right_navi_btn{
        position: absolute;
        display: block;
        width: 36px;
        height: 36px;
        border: 1px solid #cad2e1;
        border-radius: 100%;
        font-size: 0px;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter:blur(5px);
        background: rgba(255, 255, 255, 0.6);
        box-shadow: 0 0 8px rgb(213 223 241 / 40%);
        transition: 0.2s;
        z-index: 2;
        top:6px;
    }

    button.left_navi_btn{
        left: 8px;
    }
    
    button.right_navi_btn{
        right: 56px;
    }

    .hover_navi button{
        top:0;
    }
    .hover_navi button.left_navi_btn{
        left:10px;
    }
    .hover_navi button.right_navi_btn{
        right:10px;
    }

    button.left_navi_btn::after,
    button.right_navi_btn::after{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: url(../images/icons/ico_arrow_s_gr.svg) 50% 50%/20px no-repeat;
        z-index: 2;
    }

    button.right_navi_btn::after{
        margin-left: 1px;
    }
    button.left_navi_btn::after{
        transform: rotate(180deg);
        margin-left: -1px;
    }

    button.left_navi_btn:hover::after,
    button.right_navi_btn:hover::after{
        background: url(../images/icons/ico_arrow_s_bl.svg) 50% 50%/20px no-repeat;
    }
    
    button.left_navi_btn:hover,
    button.right_navi_btn:hover{
        border: 1px solid #1f65fd77;
    }

    button.left_navi_btn,
    button.right_navi_btn{
        display: none !important;
    }
    

    /*************
    슬라이드 pc시 버튼 추가 
    @media all and (max-width: 1023px) 내에 추가
    END
    *************/

}
@media all and (max-width: 680px){
    #report1 #s1 .inner.flx{
        flex-direction: column;
    }   
    #report1 #s1 .label_box{
        width: 100%;
        
    }
    #report1 #s1 .label_box > ul {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
    }

    #report1 #s1 .label_box > ul > li{
        width: 48%;
    }
    #report1 #s1 .label_box > ul > li .label_p{
        width: 80%;
    }

    #report1 #s7 .echart_box.flx{
        flex-direction: column;
    }

    #report1 #receipt1{
        width: 100%;
    }
    #report1 #receipt2{
        width: 100%;
    }

    #report1 #s1 .echart_box,#report1 #s7 .echart_box{
        margin-top:40px;
    }

    #report1 .receipt{
        margin-top:40px;
    }

    #report1 .banner_main{
        font-size: 16px;
    }
    #report1 .banner_sub{
        font-size: 12px;
    }
    #report1 .banner_txt {
        width: 70%;
    }

    #report1 #banner_sc.pd36{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #report1 .tbl-biz th{
        font-size: 12px;
    }

    .tbl-biz colgroup col:nth-child(1){
        width:20% !important;
    }

    .tbl-biz colgroup col:nth-child(2){
        width:25% !important;
    }
    .tbl-biz colgroup col:nth-child(3){
        width:25% !important;
    }
    .tbl-biz colgroup col:nth-child(4){
        width:auto !important;
    }
    #report1 .card_body{
        padding: 12px;
        padding-top: 0;
    }
    #report1 .card_header{
        padding-left: 12px;
        padding-right: 12px;
    }
    #report1 #banner_sc{
        background:#366ddf url(../images/banner/obj1.png) no-repeat 100% 45%/40%;
    }

    #report1 .tbl-biz td:nth-child(1),#report1 .tbl-biz th:nth-child(1){
        display: none;
    }

    #report1 .tbl-biz td,#report1 .tbl-biz th{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #report1 .refer_box > p{
        font-size: 12px;
    }
    #report1 .refer_box > p{
        width: 90%;
        margin-left: 5%;
    }

    #report1 .inner.flx > .echart_box{
        margin-right: 0;
    }
    #report7 .inner.flx > .echart_box{
        margin-right: 0;
    }
    
    /*상세 css 수정*/

    #report1 .rpt_hd .sumsum >li >p:nth-child(2){
        margin-top: 0;
        text-align: left;
    }

    #report1 .rpt_hd .sumsum >li >p:nth-child(1){
        font-size: 12px;
    }

    #report1 .rpt_hd .sumsum >li >p:nth-child(2) > span{
        font-size: 16px;
    }

    #report1 .onlymb.rpt_hd h2{
        font-size: 20px;
    }

    #report1 button.rpt_surb{
        font-size: 14px;
    }

    #report1 #receipt1{
        width: 100%;
    }
    #report1 #receipt2{
        width: 100%;
    }

    #rp_chart7{
        width: 280px !important;
        height: 280px !important;
    }

    #rp_chart7_2{
        width: 280px !important;
        height: 280px !important;
    }

    #report1 #s7 .label_box{
        margin: 24px auto;
    }

    #report1 .rpt_hd .sumsum >li{
        padding: 12px;
    }

    #report1 #banner_sc.pd36{
        padding-left: 20px;
        padding-right: 20px;
    }

    #report1 .refer_box > p{
        width: 80%;
        margin-left: 10%;
    }
    .tbl-biz br {
        display: block;
    }

    .tbl-biz br {
        display: block;
    }
    
    /*표 가로세로 뒤집기*/
    #report1 .table_show.show{
        display:flex;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        }
        
    .table_show tbody{
        display:flex;
        width: 100%;
    }
    .table_show thead{
        display:flex;
    }
    .table_show thead tr{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .table_show thead tr th{
        padding: 4px;
    }
        
    .table_show th,.table_show td{
        display:flex;
    }

    .table_show td{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #report1 .table_show th{
        width: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px 12px;
    }

    #report1 .table_show thead tr{
        border-bottom: 1px solid rgba(190, 201, 218, 0.4);
        border-top: 1px solid rgba(190, 201, 218, 0.4);
    }
    #report1 .table_show tr{
        border-bottom: 1px solid rgba(190, 201, 218, 0.4);
        border-top: 1px solid rgba(190, 201, 218, 0.4);        
    }

    #s2 .table_show tbody tr,
    #s10 .table_show tbody tr{
        width: 33.3%;
    }

    #s3 .table_show tbody tr,
    #s4 .table_show tbody tr,
    #s5 .table_show tbody tr,
    #s7 .table_show tbody tr,
    #s8 .table_show tbody tr{
        width: 100%;
    }
    
    #s6 .table_show tbody tr,
    #s9 .table_show tbody tr{
        width: 50%;
    }

    #report1 .table_show th{
        width: 60px;
    }

    /*************
    alrt_pop
    *************/

    .alrt_pop{
        width: 100%;
        top: unset;
        left: 0;
        bottom: 0;
        transform: inherit;
    }

    .alrt_pop h4{
        font-size: 20px;
        text-align: center;
    }
    .alrt_pop p{
        text-align: center;
    }

    .alrt_pop p span{
        font-size: 14px;
        line-height: 160%;
        font-weight: 400;
        color: #323d4e;
        text-align: center;
    }

    .alrt_pop .alrt_hd{
        justify-content: center;
        align-items: center;
        border-bottom: 0;
        padding: 12px 16px;
        padding-top: 24px;
    }

    .alrt_pop #close_alert{
        display: none;
    }

    .alrt_pop .alrt_bdy{
        padding: 16px 16px;
        padding-top: 0;
    }

    .alrt_pop .alrt_ft{
        padding: 12px 16px;
        padding-bottom: 16px;
    }
    .alrt_pop .button_box button{
        height: 52px;
    }

    .outcome_here{
        height: 88px;
        position: relative;
    }
    .outcome_wrap{
        height: 88px;
        display: block;
        overflow-x: scroll;
        overflow-y: hidden;
        width: calc(100% + 16px + 16px);
        left: -16px;
    }

    .outcome_gr{
        position: absolute;
    }

    #report1 .flx.outcome_box{
        width: 160px;
        margin-right: 8px;
    }

    #report1 .flx.outcome_box.first{
        margin-left: 16px;
    }
    #report1 .flx.outcome_box.last{
        margin-right: 16px;
    }
    
    .outcome_wrap{
        -ms-overflow-style: none;
    }
    
    .outcome_wrap::-webkit-scrollbar{
        display:none;
    }
}

@media all and (max-width: 368px){
    #report1 #s1 .label_box > ul > li{
        width: 100%;
    }
    #report1 .col{
        margin-right: 12px;
    }

    #report1 .onlymb.rpt_hd h2{
        font-size: 20px;
    }
    #report1 #s1 .label_box > ul > li .label_p{
        width: 100%;
    }
    #report1 #banner_sc{
        background: #366ddf url(../images/banner/obj1.png) no-repeat 120% 50%/50%;        
    }
}
@media all and (max-width: 360px){

    #report1 .onlymb.rpt_hd h2{
        font-size: 20px;
    }

    #report1 .choice1 ul li button{
        padding: 8px 12px;
        font-size: 13px;
    }

    .tbl-biz br{
        display: block;
    }
    #report1 .tbl-biz td, #report1 .tbl-biz th{
        vertical-align: middle;
    }
    #report1 .tbl-biz td{
        font-size: 13px;
    }
    #report1 .banner_txt{
        width: 70%;
    }

    .mb_rp_gnb > li > a{
        font-size: 14px;
    }

    #report1 .rpt_hd .sumsum >li >p:nth-child(2){
        text-align: right;
    }

    #report1 .rpt_hd .sumsum >li >p:nth-child(2) > span{
        font-size: 15px;
    }

    #report1 .rpt_hd .sumsum >li{
        margin-right: 4px;
    }

    #report1 .rpt_hd .sumsum >li >p:nth-child(2)::before{
        margin-right: 4px;
        width: 12px;
        height: 12px;
    }

    .tbl-biz colgroup col:nth-child(1) {
        width: 10% !important;
    }
}
@media all and (max-width: 348px){
    #report1 section .title_area > p{
        font-size: 13px;
    }
    #report1 section .title_area > h3{
        font-size: 17px;
    }
    #report1 section .title_area > h3{
        margin-right: 8px;
    }
}
@media all and (max-width: 316px){
    
    #report1 .pd36{
        padding-left: 12px;
        padding-right: 12px;
    }

    .rp_sheet_hd{
        padding-left: 12px;
        padding-right: 12px;
    }
    .mb_rp_gnb > li:first-child{
        margin-left: 12px;
    }

    .outcome_wrap{
        height: 88px;
        display: block;
        overflow-x: scroll;
        overflow-y: hidden;
        width: calc(100% + 12px + 12px);
        left: -12px;
    }
    
    #report1 .flx.outcome_box{
        width: 160px;
        margin-right: 6px;
    }

    #report1 .flx.outcome_box.first{
        margin-left: 12px;
    }

    #report1 .flx.outcome_box.last{
        margin-right: 12px;
    }
}
@media all and (max-width: 316px){
    #report1 .rpt_hd .sumsum {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;
    }
    #report1 .rpt_hd .sumsum >li {
        margin-right: 0;
        width: calc(100% - 24px);
        display: flex;
        justify-content: space-between;
        align-content: flex-end;
        margin-bottom: 4px;
    }
    #report1 .rpt_hd .sumsum >li >p:nth-child(1){
        margin-bottom: 0;
    }

    #report1 .rpt_hd .sumsum >li >p:nth-child(2)::before{
        display: none;
    }

    #report1 .rpt_hd .sumsum >li >p:nth-child(1)::before {
        content: "";
        display: inline-block;
        background-color: #fff;
        width: 14px;
        height: 14px;
        margin-bottom: -2px;
        border-radius: 100%;
        margin-right: 8px;
        background: url(../images/icons/ico_hd_2.svg) 50% 50%/cover;
    }
    #report1 .rpt_hd .sumsum >li:nth-child(1) >p:nth-child(1)::before {
        background: url(../images/icons/ico_hd_1.svg) 50% 50%/cover;
    }
    #report1 .rpt_hd .sumsum >li:nth-child(2) >p:nth-child(1)::before {
        background: url(../images/icons/ico_hd_3.svg) 50% 50%/cover;
    }
    #report1 .rpt_hd .sumsum >li:nth-child(3) >p:nth-child(1)::before {
        background: url(../images/icons/ico_hd_2.svg) 50% 50%/cover;
    }
    #report1 .onlymb.rpt_hd h2{
        font-size: 18px;
    }
    #report1 section .title_area > p{
        display: none;
    }
    #rp_chart1{
        width: 240px !important;
        height: 240px !important;
    }

    #report1 .receipt{
        padding: 16px 20px;
    }

    #report1 .rpt_txt{
        padding: 12px;
    }
    #report1 .choice1 ul li.on button{
        word-break: keep-all;
    }

    #report1 .card_body{
        padding: 0;
    }

    #report1 .tbl-biz th{
        padding: 8px 4px;
    }

    #report1 .banner_txt{
        width: 80%;
    }

    #report1 #banner_sc {
        background: #366ddf url(../images/banner/obj1.png) no-repeat 120% 180%/50%;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
    }

    #report1 .card_box > div{
        border: none;
    }
    #report1 .card_m_txt{
        font-size: 14px;
    }
    #report1 .card_header{
        padding-left: 0;
        padding-right: 0;
    }

    #report1 .tbl-biz td:nth-child(3){
        font-weight: 600;
        color: #191F28;
    }
    #report1 .card_header{
        border-bottom: 1px solid #eee;
    }

    #report1 .table_show td{
        font-size: 12px;
    }
    #report1 .table_show th{
        font-size: 12px;
    }

}
@media all and (max-width: 320px){
    .alrt_pop p span{
        font-size: 12px;
    }
    .alrt_pop p{
        line-height: 120%;
    }
}
@media all and (max-width: 279px){
    #report1 .card_body{
        overflow-x: auto;
    }
    #report1 #banner_sc{
        background:#366ddf;
    }

    #report1 .banner_txt{
        width: 100%;
    }
}
