/*
--
reset css
--
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family:'Pretendard';
	vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, p{
    word-break: keep-all;
    line-height: 140%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 100%;
    letter-spacing: -0.02em;
    height: 100%;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    text-decoration: none;
}

a,div{
    box-sizing: border-box;
}

button,a{
    cursor: pointer;
}

input {
    appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}


textarea{
    font-family:'Noto Sans KR';
}

/*
--
basic css
--
*/

/* font */

html {
    font-family:'Noto Sans KR';
}
body {
    font-family:'Noto Sans KR';
}

/* layout */

.layout{
    margin: 0 auto;
    width: 1200px;
}
.box-pd{
    padding: 80px 40px;
}
.cb::after{
    content: "";
    display: block;
    clear: both;
}

.fl{
    float: left;
}
.fr{
    float: right;
}
.flex{
    display: flex;
}

.inner{
    display: flex;
    flex-direction: column;
}


.img_inner .main_text{
    font-size: 24px;
}

.section7 .inner{
    display: flex;
    align-items: center;
}

/* margin padding */
.txt_mb{
    margin-bottom: 24px;
}

.box_mb{
    margin-bottom: 60px;
}

.box_mbs{
    margin-bottom: 40px;
}

.txt_mb_s{
    margin-bottom: 8px;
}

.mb48{
    margin-bottom: 48px;
}

/* font style */

.w900{
    font-weight: 900;
}

.w700{
    font-weight: 700;
}

.w500{
    font-weight: 500;
}

.w300{
    font-weight: 300;
}

.w400{
    font-weight: 400;
}
.w100{
    font-weight: 100;
}
.w200{
    font-weight: 200;
}

.main_text{
    font-size: 42px;
    line-height: 140%;
}
section .main_text{
    font-size: 30px;
    line-height: 160%;
    text-align: center;
}

.sub_text{
    font-weight: 400;
    font-size: 17px;
}

.tag_text{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

/* color */

.b1{
    color:#121212;
}
.b2{
    color:#292929;
}
.b3{
    color:#4F4F4F;
}
.b4{
    color:#707070;
}
.pri{
    color:#2A57F7;
}

.sec{
    color:#02B9F3;
}
.w1{
    color:#fff;
}

.w2{
    color:rgba(255, 255, 255, 0.7);
}

.w3{
    color:rgba(255, 255, 255, 0.5);
}

.bg_dark{
    background-color:#09213D;
}

.bg_wt{
    background-color: #fff;   
}

.bg_gr{
    background-color: #F7F9FB;   
}

.bg_main{
    background-color:#E5F3FF;
}

.subpage1 .bg_main{
    background-color:#E9F9F9;
}

.bg_dark .b1{
    color:#fff;
}

.bg_dark .pri{
    color:#fff;
}

a {
    color: #191F28;
}

/* btn_style */

.btn_box.flex{
    justify-content: center;
}

.btn_st1{
    background-color: #2A57F7;
    padding: 16px;
    border-radius: 999px;
    color:#fff;
    border: none;
    width: 50%;
    font-size: 16px;
    font-weight: 500;
}

.btn_st2{
    background-color:#222222;
    padding: 11px 20px;
    border-radius: 999px;
    color:#fff;
    border: none;
    font-size: 16px;
    font-weight: 500;
}

.btn_st3{
    color: #253495;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    border: 1px solid #25349598;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 14px;
    font-weight: 600;
    height: 34px;
}
.btn_st4{
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    background-color: #253495;
    font-size: 14px;
    font-weight: 500;
    height: 34px;
}

.section1 .btn_st2{
    margin-top: 8px;
}

.btn_st1:hover{
    background-color: #113cd4;
}

.btn_st3:hover{
    color: #113cd4;
    border: 1px solid #113bd4c0;
    transition: 0.4s;
}

.btn_st4:hover{
    background-color: #113cd4;
    transition: 0.4s;
}

/* header */
.pd {
    padding-left: 24px;
    padding-right: 24px;
}
.top_section{
    top:0;
    width: 100%;
    background-color: #fff;
    position: fixed;
    /* box-shadow: 0px 9px 12px rgba(84, 92, 104, 0.08); */
    z-index: 2;
    border-bottom: 1px solid rgba(190, 201, 218, 0.4);
}

.menu_top{
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-sizing: border-box;
}



.menu_top .menu_left{
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}


.menu_top .menu_right{
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.menu_top .logo_box{
    height: 20px;
    width: 140px;
    background: url(../images/logo/logo.svg) no-repeat 0% 50%/contain;
}

.menu_top .logo_box a{
    display: block;
    width: 100%;
    height: 100%;
}

.menu_top .menu_left {
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.menu_middle {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 40px;
}

.menu_top .menu_right {
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.comm_box{
    display: flex;
}

 
#menuToggle,#menuToggle2{
  display: block;
}

#menuToggle a{
    display: block;
    width: 24px;
    height: 24px;
    background: url(../images/icons/ico_list_gr.svg) 50% 50%/cover no-repeat;
}

#menuToggle a:hover{
    
    background: url(../images/icons/ico_list_bl.svg) 50% 50%/cover no-repeat;
}

#menuToggle2 a{
    display: block;
    width: 24px;
    height: 24px;
    background: url(../images/icons/ico_x_gr.svg) 50% 50%/cover no-repeat;
}

#menuToggle2 a:hover{
    background: url(../images/icons/ico_x_bl.svg) 50% 50%/cover no-repeat;
}

.top_gnb{
    display: flex;
    height: 100%;
    align-items: center;
}
.top_gnb li{
    margin-right: 12px;
}

.top_gnb li a {
    font-weight: 600;
    display: inline-block;
    padding: 22px 12px;
    box-sizing: border-box;
}

.top_gnb li.on a {
    color: #0554E5;
    box-sizing: border-box;
    position: relative;
}

.top_gnb li.on a::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #0554E5;
}

.gnb460{
    display: none;
}

/* wrap */

.wrap{
margin-top: 61px;
}

.section1{
    height: 400px;
}

.section1 .box-pd{
    padding: 80px 40px;
}

.section1 .flex{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section1 .flex.box-pd{
    padding-top:0 ;
    padding-bottom:0 ;
    overflow: hidden;
}

.section1 .img_box{
    height: 100%;
    width: 540px;
    background:url(../images/contents/main_img.png) 50% 50%/cover ;
}

.subpage1 .section1 .img_box{
    height: 100%;
    width: 540px;
    background:none;
    /* background:url(../images/contents/main_img.png) 50% 50%/cover ; */
}
/* section7 */

.section7{
    background:url(../images/contents/surb_bg.png) 50% 50%/cover;
    background-attachment: fixed;
}

.form_side{
    background-color: #0D133E;
    height: 100%;
    width: 40%;
    position: absolute;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form_box_wrap{
    width: 100%;
    position: relative;
    border-radius: 14px;
    overflow: hidden;
}

.form_box{
    width: 60%;
    margin-left: 40%;
}

.form_side_bottom{
    height: 24px;
    width: 174px;
    background: url(../images/logo/logo_wh_long.svg) no-repeat 0% 50%/contain;
}

.form_inner{
    background: rgba(38, 35, 71, 0.8);
    backdrop-filter: blur(6px);
    padding: 80px 120px;
}

.form_main_text{
    font-size: 24px;
}

.name_txt::before{
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background: url(../images/logo/nice.svg) no-repeat 0% 50%/contain;
    margin-bottom: 20px;
}

.name_txt{
    font-size: 16px;
    line-height: 160%;
}

/* -- section7 form --*/
.form_group form {
	width: 100%;
}

.form_group .input-group { 
	position: relative; 
	margin-bottom: 40px; 
}

.form_group input {
    box-sizing: border-box;
	font-size: 20px;
	appearance: none;
	-webkit-appearance: none;
	display: block;
	background: none;
	color: #fff;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #ececec73;
    height: 44px;
    font-family: 'Pretendard';
}

.form_group input:focus { outline: none; }


/* Label */

.form_group label {
	color: #fff;
	font-size: 18px;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: all 0.2s ease;
}


/* active */

.form_group input:focus ~ label, input.used ~ label {
	top: -20px;
    transform: scale(.8);
    left: -2px;
	color: #B4EDFF;
}


/* Underline */

.form_group .bar {
	position: relative;
	display: block;
	width: 100%;
}

.form_group .bar:before, .form_group .bar:after {
	content: '';
	height: 1px; 
	width: 0;
	bottom: 0; 
	position: absolute;
	background: #B4EDFF; 
	transition: all 0.2s ease;
}

.form_group .bar:before { left: 50%; }

.form_group .bar:after { right: 50%; }


/* active */

.form_group input:focus ~ .bar:before, .form_group input:focus ~ .bar:after {
    width: 50%;
}


/* Highlight */

.form_group .highlight {
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */

.form_group input:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease;
}


/* Animations */

@keyframes inputHighlighter {
	from { background: #4a89dc; }
	to 	{ width: 0; background: transparent; }
}


/* Button */

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #3160B6;
  cursor: pointer;
  transition: all 0.15s ease;
}
.button:focus { outline: 0; }


/* Button modifiers */

.buttonBlue {
  background: #4a89dc;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover { background: #357bd8; }


/* Ripples */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}


/* Ripples circle */

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  animation: ripples .4s ease-in;
}


/* Ripples animation */

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

.agree_group{
    margin-bottom: 56px;
}

/* Customize the label */
.agree_group .label_box {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color:#fff;
    font-weight: 300;
  }

.agree_group a.show_agree{
    color:#fff;
    text-decoration: underline;
    margin-left: 12px;
    font-size: 14px;
    font-weight: 300;
}

.agree_group a.show_agree:hover{
    color:#B4EDFF;
}

  /* Hide the browser's default checkbox */
.agree_group .label_box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .agree_group .checkmark {
    position: absolute;
    top: calc(50% - 11px);
    left: 0;
    height: 22px;
    width: 22px;
    border:1px solid #eee;
    border-radius: 100%;
    box-sizing: border-box;
  }
  
  /* On mouse-over, add a grey background color */
  .agree_group  .label_box:hover input ~ .checkmark {
    background-color: #2A57F7;
    background:url(../images/icons/ico_check.svg) 50% 50%/cover ;
  }
  
  /* When the checkbox is checked, add a blue background */
  .agree_group .label_box input:checked ~ .checkmark {
    background-color: #2A57F7;
    border:none;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .agree_group .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .agree_group .label_box input:checked ~ .checkmark:after {
    display: block;
    background:url(../images/icons/ico_check.svg) 50% 50%/cover ;
}
  
  /* Style the checkmark/indicator */
  .agree_group .label_box .checkmark:after {
    content: "";
    width: 22px;
    height:22px;
    display: block;

  }

/*canvas img control */

.container {
  position: relative;
  width: 100%;
  padding-bottom: 300px;
  overflow: hidden;
}

section .container{
    border-radius: 20px;
    box-shadow: 0px 4px 40px rgba(120, 133, 172, 0.19);
}

.section5 .container{
    box-shadow: none;
}

.section2 .container{
    box-shadow: none;
    border-radius: 0;
    border-radius: 14px;
    overflow: hidden;
}
.section2 .container_wrap{
    padding: 8px;
    background: #fff;
    border-radius: 24px;
    box-shadow: #c4c8da40 0px 0px 7px inset;
    position: relative;
    filter: drop-shadow(8px 12px 8px #8288a72f);
}


.canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.canvas:not(.canvas.is-loaded){
    display: none;
}

.canvas.is-loaded {
  width: 100%;
  height: 100%;
  display: block;
}


.section2 .img_inner.flex{
    gap: 52px;
    /* overflow: hidden; */
}

.container_wrap{
    width: 70%;
}
.choice_wrap{
    width: 30%;
}
.choice_wrap ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.show_number_choice{
    justify-content: space-between;
    align-items: center;
}

.show_number_choice .show_txt{
    width: calc(100% - 60px);
}

.show_number_choice .number_bullet_box{
    width: 30px;
    position: relative;
}

.number_bullet{
    position: absolute;
    color:#577CFF;
    background-color: #fff;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #EAEEFF;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-weight: 600;
    transition: 0.4s;
}

.on .number_bullet{
    color: #fff;
    background-color: #577CFF;
    border: 3px solid #577CFF;
}

.show_txt{
    display: block;
    padding: 28px 24px;
    background-color: #F5F7FA;
    border: 2px solid #F5F7FA;
    border-radius: 14px;
    transition: 0.4s;
}

.on .show_txt{
    box-sizing: border-box;
    border: 2px solid #125DE6;
    background-color: #fff;
    box-shadow: 0px 4px 20px rgba(125, 123, 123, 0.16);
}

.choice_tit{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #666;
    margin-bottom: 4px;
}

.choice_txt{
    color: #666;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
}

li.on .choice_tit{
    color: #222;
}
.number_bullet{
    position: relative;
    z-index: 1;
}

.number_bullet_box::before{
    content: "";
    display: block;
    position: absolute;
    left: calc(50% - 2px);
    width: 3px;
    height: 700%;
    top:0;
    background-color:#EAEEFF;
    z-index: 1;
}

.choice_wrap li:nth-child(3) .number_bullet_box::before{
    display: none;
}

.section5 .img_box > .flex{
    justify-content: space-between;
    margin-bottom: 24px;
}

.section5 .img_box > .flex > div.img_inner{
    width: calc(50% - 10px);
}

.section5 .img_inner{
    /* height: 520px; */
    background-color: #F7F9FB;
    border-radius: 20px;
    overflow: hidden;
}

.img_inner.grid_bx1{
    padding-left: 0;
    padding-bottom: 0;
}

.img_inner.grid_bx1 .main_text{
    padding-left: 40px;
}

.img_inner.grid_bx1 .container{
    border-radius: 0 14px 14px 0;
}

.img_inner.grid_bx1 .container::after{
    content: "";
    width: 100%;
    position: absolute;
    height: 28px;
    background: #fff url(../images/contents/user.svg) 96% 50% /14% no-repeat;
}

.img_inner.grid_bx3{
    height: 400px;
}

.img_inner .main_text{
    margin-bottom: 60px;
}

/* section6 */

.section6 .flex{
    justify-content: space-between;
}

.section6 .img_inner{
    padding: 0;
    width: 832px;
    position: relative;
}

.section6 .img_inner::after{
    content: "";
    background: url(../images/contents/);
}

.section6 .img_inner::before{
    content: "";
    width: calc((100vw - 1140px)/2);
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    display: block;
    background-color:#697e9744;
    transform: translate(-100%);
}

.section6 .container{
    border-radius: 0 20px 20px 0;
}

.ico_text{
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: 500;
    line-height: 160%;
}

.ico_text::before{
    content: "";
    width: 52px;
    height: 52px;
    display: block;
    margin-bottom: 24px;
    border-radius: 14px;
}

.ico_text1::before{
    background: #DDE9FF url(../images/icons/ico_map.svg) 50% 50%/70% no-repeat;
}

.ico_text2::before{
    background: #CEEEF2 url(../images/icons/ico_board.svg) 50% 50%/70% no-repeat;
}

.ico_text3::before{
    background: #FFF1F1 url(../images/icons/ico_chart.svg) 50% 50%/70% no-repeat;
}

footer.footer{
    background-color: #18225C;
}

footer.footer .footer_tag{
    font-size: 14px;
}

footer.footer .footer_tag{
    font-size: 14px;
}

footer.footer .footer_tag br{
    display: none;
}

.footer_main_ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer_sub_ul li{
    padding: 4px 0;
}

.footer_main_ul li a{
    transition: 0.4s;
}

.footer_main_ul li a:hover{
    color: #fff;
    text-decoration: underline;
}

.footer_sub_ul li:last-child{
    margin-top: 12px;
}

.footer_main_ul .footer_logo_box {
    height: 40px;
    width: 230px;
    background: url(../images/logo/zini_logo_long_wh.svg) no-repeat 0% 50%/contain;
    margin-right: 20px;
}

footer.footer .footer_tag{
    display: inline-block;
    margin-right: 8px;
}

footer.footer .footer_tag::after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 14px;
    background-color: rgba(255, 255, 255, 0.24);
    margin-left: 8px;
}

footer.footer .footer_tag:last-child:after{
    display: none;
}


/*card ui*/

.card_wrap{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 36px;
}

.card_con{
    width: calc((100% - 72px) / 3);
    margin-bottom: 40px;
}
.con_thumb {
    position: relative;
    width: 100%;
    /* height: inherit; */
    padding: 56.6% 0 0;
    overflow: hidden;
    border-radius: 8px;
}
.con_thumb > img {
    position: absolute;
    width: 100%;
    height: auto;
    top:0;
}

.con_txt {
    word-break: keep-all;
    white-space: normal;
    display:-webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
}

.con_title p{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.con_foot{
    padding: 12px 0;
}

.card_con .nametag,
.card_con .tag{
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    background-color: #f6f7fc;
}

.card_con .nametag{
    margin-right: 4px;
}

.slide_tag{
    display: flex;
}

.slide_tag>a, .slide_tag>div{
    margin-bottom: 4px;
}

.slide_tag_box{
    margin-bottom: 16px;
}

.action_area > a{
    color:#253495;
    font-weight: 600;
    font-size: 14px;
}

.action_area > a:hover{
    color:#113cd4;
    border-bottom:1px solid #113cd4;
}

.selection_head{
    padding: 20px 0;
    border-top:2px solid #253495;
    margin-bottom: 20px;
}


/***********
select
***********/


select::-ms-expand { 
	display: none;
}


select.select {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select {
    height: 34px;
    padding: 0 30px 0 10px;
    border-radius: 4px;
    outline: 0 none;
    border: 1px solid rgba(190, 201, 218, 0.6);
    position: relative;
    color: #6c6c6c;
    background:#fff url(../images/icons/ico_arrow_bk.svg) no-repeat 90% 50%/10px auto;
    color:#191F28;
    font-weight: 500;
    width: 100px;
    text-align: left;
    font-size: 14px;
    margin-right: 4px;
}

select.select {
    width: 120px;
    font-size: 14px !important;
    color:#191F28 !important;
    font-weight: 500 !important;
    font-family: 'Pretendard';
}

select.select option{
    font-size: 14px !important;
    color:#191F28 !important;
    font-weight: 500 !important;
}

select.select{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filter{
    height: 32px;
    width: 32px;
    border: 1px solid rgba(190, 201, 218, 0.6);  
    border-radius: 8px;
    font-size: 0;
    background:#fff url(../images/icons/ico_filter_gr.svg) no-repeat 50% 50%/16px auto;
}